In [2]:
#Ans01 : 
import pandas as pd

# create a Pandas Series
series = pd.Series([4, 8, 15, 16, 23, 42])

# print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Ans02 : 

import pandas as pd

# create a list of 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# convert list to a Pandas Series
series = pd.Series(my_list)

# print the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
#Ans03 : 

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [5]:
#Ans04 : 
# In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is like a table with rows and columns, where each column can have a different data type. Each column in a DataFrame is a Pandas Series. In other words, a DataFrame is a collection of multiple Series that share the same index.
# The key difference between a Pandas Series and a DataFrame is that a Series represents a single column of data, whereas a DataFrame represents multiple columns of data.

# EXAMPLE :

import pandas as pd

# creating a Pandas Series
ages = pd.Series([25, 30, 27])
print(ages)

# creating a Pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

0    25
1    30
2    27
dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
#Ans05 : 

# *There are several functions available in Pandas that can be used to manipulate data in a DataFrame. Some of the commonly used functions are:

# head() and tail(): head() function returns the first few rows of the DataFrame while tail() function returns the last few rows of the DataFrame. For example, df.head() will return the first 5 rows of the DataFrame.
# info()           : info() function is used to get a summary of the DataFrame including the column data types, number of non-null values, etc.
# describe()       : describe() function is used to get a statistical summary of the DataFrame including count, mean, standard deviation, minimum, maximum, and quartile values.
# groupby()        : groupby() function is used to group data based on one or more columns in the DataFrame. For example, you can group data by a specific column and calculate the average of another column for each group.
# sort_values()    : sort_values() function is used to sort the DataFrame based on one or more columns. For example, you can sort the DataFrame by a specific column in ascending or descending order.
# drop()           : drop() function is used to drop one or more columns or rows from the DataFrame. For example, you can drop a column that is not needed in the analysis.
# pivot_table()    : pivot_table() function is used to create a summary table from a DataFrame based on one or more columns. For example, you can create a summary table that shows the average values of one column for each unique value in another column.

# Example:  Suppose we have a DataFrame named sales that contains information about the sales of different products in different regions. We want to calculate the total sales for each product in each region. We can use the groupby() function to group the data by product and region and then use the sum() function to calculate the total sales for each group. The code for this would look like

In [10]:
#Ans06 : Series and DataFrame are mutable in nature in Pandas, whereas Panel is not mutable. This means that we can change the values in Series and DataFrame, but not in Panel.

In [12]:
#Ans07 : Yes, we can create a DataFrame using multiple Series. We can use the pandas concat() function to concatenate multiple Series along a specified axis.

  # Example :

import pandas as pd

# create the first series
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])

# concatenate the series to create a DataFrame
df = pd.concat([name, age, gender], axis=1)
df.columns = ['Name', 'Age', 'Gender']

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female